<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.DAO.PostgraduateMapper">
    <select id="selectPostgraduateById" resultType="com.example.POJO.Postgraduate">
        select *
        from Postgraduate
        where studentId = #{studentId}
    </select>

    <insert id="addPostgraduate" parameterType="com.example.POJO.Postgraduate">
        INSERT INTO Postgraduate(name, birthDay, gender, tutor, research)
        VALUES (#{name},
                #{birthDay},
                #{gender},
                #{tutor},
                #{research})
    </insert>

    <update id="updatePostgraduate" parameterType="com.example.POJO.Postgraduate">
        update Postgraduate
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="birthDay != null">
                birthDay = #{birthDay,jdbcType=DATE},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="tutor != null">
                tutor = #{tutor},
            </if>
            <if test="research != null">
                research = #{research},
            </if>
        </set>
        where studentId = #{studentId,jdbcType=INTEGER}
    </update>

</mapper>