<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.DAO.UndergraduateMapper">

    <select id="selectAllUndergraduate" resultType="com.example.POJO.Undergraduate">
        select * from student
        inner join  undergraduate on student.studentId = undergraduate.studentId
    </select>

    <select id="selectUndergraduateById" resultType="com.example.POJO.Undergraduate">
        select *
        from undergraduate
        where studentId = #{studentId}
    </select>

    <insert id="addUndergraduate" parameterType="com.example.POJO.Undergraduate">
        INSERT INTO undergraduate(studentId,class_name,class_teacher)
        VALUES (#{studentId},
                #{className},
                #{teacher})
    </insert>

    <update id="updateUndergraduate" parameterType="com.example.POJO.Undergraduate">
        update undergraduate
        <set >
            <if test="studentId != null" >
                studentId = #{studentId},
            </if>
            <if test="className != null" >
                class_name = #{className},
            </if>
            <if test="teacher != null" >
                class_teacher = #{teacher},
            </if>
        </set>
        where studentId = #{studentId,jdbcType=INTEGER}
    </update>




</mapper>